.accordion .accordion-item {
  // border-bottom: 1px solid #e5e5e5;
  &:not(:last-child) {
    margin-bottom: 1.5rem;
  }
}

.accordion .accordion-item button[aria-expanded="true"] {
  border-bottom: 1px solid #e5e5e5;
}

.accordion button {
  position: relative;
  @include display(
    $display: flex,
    $align-items: center,
    $justify-content: space-between
  );

  text-align: left;
  width: 100%;
  padding: 0 1rem;
  border-radius: 5px;
  font-family: $font-family_normal;
  color: $primary-color-3;
  font-size: 1.15rem;
  font-weight: 800;
  border: none;
  outline: none;
  background: $secondary-color-2;
}

// .accordion button:hover,
// .accordion button:focus {
//   cursor: pointer;
//   // color: $primary-color-2;
// }

// .accordion button:hover::after,
// .accordion button:focus::after {
//   cursor: pointer;
//   color: $primary-color-2;
//   border: 1px solid $primary-color-2;
// }

.accordion button .accordion-title {
  padding: 1rem 0 1rem 0;
  // width: 20%;
}

.accordion button .icon {
  // display: inline-block;
  position: relative;
  // top: 12px;
  // right: 0;
  height: 22px;
  aspect-ratio: 1/1;
  border: 1px solid;
  border-radius: 22px;

  // top: 50%;
  // right: 0;
  // transform: translate(0, -50%);
}

.accordion button .icon::before,
.accordion button .icon::after {
  display: block;
  position: absolute;
  content: "";
  background: currentColor;
  // background: lighten($color: $black-color, $amount: 15);
}
.accordion button .icon::before {
  top: 9px;
  left: 5px;
  width: 10px;
  height: 2px;
}
.accordion button .icon::after {
  top: 5px;
  left: 9px;
  width: 2px;
  height: 10px;
}

.accordion button[aria-expanded="true"] {
  color: primary-color-2;
}
.accordion button[aria-expanded="true"] .icon::after {
  width: 0;
}
.accordion button[aria-expanded="true"] + .accordion-content {
  opacity: 1;
  max-height: fit-content;
  transition: all 200ms linear;
  will-change: opacity, max-height;
  // background: lighten($primary-color, 20);
}
.accordion .accordion-content {
  opacity: 0;
  max-height: 0;
  overflow: hidden;
  transition: opacity 200ms linear, max-height 200ms linear;
  will-change: opacity, max-height;
  padding: 0 1rem;
}
.accordion .accordion-content p {
  font-size: 1rem;
  font-weight: 300;
  margin: 1rem 0;
}
