form {
  @include display(
    $display: flex,
    $direction: column,
    $justify-content: start,
    $gap: 25px
  );

  .form-group {
    label.control-label {
      width: 100%;
      font-weight: 500;
    }

    input.control-field,
    select.control-field,
    textarea.control-field {
      width: 100%;
      padding: 10px;
      border: none;
      outline: none;
      border-radius: 5px;

      &:-webkit-autofill,
      &:-webkit-autofill:hover,
      &:-webkit-autofill:focus,
      &:-webkit-autofill:active {
        -webkit-box-shadow: 0 0 0 30px #ffffff inset !important;
      }

      &:focus,
      &:active {
        background: #ffffff;
      }
    }

    textarea.control-field {
      resize: none;
      max-height: 150px;
    }

    input[type="submit"],
    button[type="submit"] {
      @media screen and (max-width: #{$breakpoint-md}px) {
        width: 100%;
      }
    }
  }
}
