/* ==================== Global Styles ====================== */
*,
::before,
::after {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
html {
  -webkit-text-size-adjust: 100%;
  -moz-tab-size: 4;
  -o-tab-size: 4;
  tab-size: 4;
  font-feature-settings: normal;
  font-variation-settings: normal;
  -webkit-tap-highlight-color: transparent;
  scroll-behavior: smooth;
}

body {
  font-family: $font-family_normal;
  font-size: 1rem;
  font-weight: 300;
  line-height: 1.75;
  letter-spacing: 0.02rem;
  // transition: all 0.2s ease;
}

html,
body {
  display: block;
  overflow-x: hidden;
  // transition: all 0.2s ease-in;
  color: $secondary-color;
}

p {
  margin: 0.6rem 0;
}
a {
  text-decoration: none;
  color: $primary-color-2;
}

ul {
  &.style-none {
    list-style: none;
  }
}

img,
embed,
object,
video {
  display: block;
  max-width: 100%;
  height: auto;
}

/* Fade animation for lazy load images */
.image-fade {
  animation-name: fade;
  animation-duration: 2s;

  @keyframes fade {
    from {
      opacity: 0;
    }
    to {
      opacity: 1;
    }
  }
}

/* Image loading skeleton background */
.image-skeleton {
  // background: rgb(221, 219, 221);
  background: lighten($color: $primary-color, $amount: 18);
}

/*=============== TEXT SELECTION ===============*/
::-webkit-selection {
  color: #f1f1f1;
  background: #1f1f1f;
}
::-moz-selection {
  color: #f1f1f1;
  background: #1f1f1f;
}
::selection {
  color: #f1f1f1;
  background: #1f1f1f;
}

/*=============== SCROLL BAR ===============*/

::-webkit-scrollbar {
  width: 0.6rem;
  background: hsl(0, 0%, 30%);
}

::-webkit-scrollbar-thumb {
  background: hsl(0, 0%, 20%);
  border-radius: 100px;

  &:hover {
    background: hsl(0, 0%, 15%);
  }
}

/* ==================== Reusable Classes ====================== */
.container {
  max-width: 100%;
  &--py {
    padding: 2rem 0;
  }
  padding: 0 1rem;
  margin: 0 auto;

  /* Breakpoints Bootstrap */
  // @media screen and (min-width: 576px) {
  //   max-width: 540px;
  // }
  // @media screen and (min-width: 768px) {
  //   max-width: 720px;
  // }
  // @media screen and (min-width: 992px) {
  //   max-width: 960px;
  // }
  // @media screen and (min-width: 1200px) {
  //   max-width: 1200px;
  // }
  // @media screen and (min-width: 1400px) {
  //   max-width: 1320px;
  // }
}

.section {
  &__hero-py {
    padding-block: calc($section-padding * 1.5) calc($section-padding * 2.5);
  }
  &__pt {
    padding-block-start: calc($section-padding * 1);
  }
  &__ptx2 {
    padding-block-start: calc($section-padding * 2);
  }
  &__ptx3 {
    padding-block-start: calc($section-padding * 3);
  }
  &__pb {
    padding-block-end: calc($section-padding * 1);
  }
  &__pbx2 {
    padding-block-end: calc($section-padding * 2);
  }
  &__pbx3 {
    padding-block-end: calc($section-padding * 3);
  }
  &__py {
    padding-block: calc($section-padding * 1);
  }
}

.grid {
  @include display($display: grid, $row-gap: 2rem);
  grid-template-columns: repeat(1, 1fr);

  > * {
    max-width: 100%;
  }
}
.flex {
  @include display(
    $display: flex,
    $direction: column,
    $align-items: center,
    $gap: 1.5rem,
    $normalize: "false"
  );
}

.image-wrapper-parent {
  position: relative;
  overflow: hidden;
}
.image-wrapper {
  position: relative;
  inset: 0;
  z-index: -1;

  .overlay {
    position: absolute;
    inset: 0;
    width: 100%;
    height: 100%;
    background: #fff8f9;
    background: linear-gradient(
      60deg,
      rgb(255, 255, 255) 30%,
      rgba(255, 248, 249, 0.206) 100%
    );
    filter: opacity(0.9);
    z-index: 1;
  }

  img {
    position: absolute;
    inset: 0;
    object-fit: cover;
    object-position: center center;
    width: 100%;
    height: 100%;
    @media screen and (min-width: 992px) {
      object-position: top center;
    }
  }
}

/*=============== SCROLL UP ===============*/
.scrollup {
  position: fixed;
  right: 1rem;
  bottom: -30%;
  @include display(
    $display: inline-flex,
    $justify-content: center,
    $align-items: center
  );
  z-index: $z-tooltip;
  height: 40px;
  aspect-ratio: 1/1;
  background-color: $primary-color;
  box-shadow: 0 4px 12px hsla(0, 0%, 20%, 0.1);
  border-radius: 0.25rem;
  transition: bottom 0.4s, transform 0.4s;

  &:hover {
    .scrollup__icon {
      transform: translateY(-0.15rem);
    }
    transform: translateY(-0.5rem);
  }

  .scrollup__icon {
    font-size: 1.5rem;
    color: $primary-color-3;
    transition: transform 0.4s;
  }
}

/* Show Scroll Up*/
.show-scroll {
  bottom: 3rem;
}

@media screen and (min-width: #{$breakpoint-sm}px) {
  .container {
    max-width: #{$breakpoint-sm}px;
  }
}
@media screen and (min-width: #{$breakpoint-md}px) {
  .container {
    max-width: #{$breakpoint-md}px;
  }
}
@media screen and (min-width: #{$breakpoint-lg}px) {
  .container {
    max-width: #{$breakpoint-lg}px;
  }

  .scrollup {
    right: 3rem;
  }
}
@media screen and (min-width: #{$breakpoint-xl}px) {
  .container {
    max-width: #{$breakpoint-xl}px;
  }
}
@media screen and (min-width: #{$breakpoint-2xl}px) {
  .container {
    max-width: #{$breakpoint-2xl}px;
  }
}
