.heading {
  font-family: $font-family_heading;
  color: $primary-color-3;
  margin: 0;
  line-height: 1.3;
  letter-spacing: 0.03rem;

  &--center {
    text-align: center;
    max-width: 100%;
  }

  &--sub {
    letter-spacing: 0.05rem;
    font-weight: 900;
    font-size: 0.9rem;
    text-transform: uppercase;
  }
  // &--accent {
  // }
}
.sub-heading {
  font-family: $font-family_normal;
  margin: 0;

  &--center {
    text-align: center;
    max-width: 100%;
  }
}

// h1.heading {
// }
// h2.heading {
// }
// h3.heading {
// }

h1 {
  font-size: pxToRem(32); /* 1.802rem * 16px = 28.832px, rounded down to 28px */
}
h2 {
  font-size: pxToRem(27); /* 1.602rem * 16px = 25.632px, rounded down to 25px */
}
h3 {
  font-size: pxToRem(22); /* 1.424rem * 16px = 22.784px, rounded down to 22px */
}
h4 {
  font-size: pxToRem(20); /* 1.266rem * 16px = 20.256px, rounded down to 20px */
}
h5 {
  font-size: pxToRem(18); /* 1.125rem * 16px = 18px */
}

:root {
  font-size: pxToRem($min_text_font_size);
}

@media (min-width: #{$min_width}px) and (max-width: #{$max_width}px) {
  :root {
    @include adjustable-font-size($min_text_font_size, $max_text_font_size);
  }
  h1 {
    @include adjustable-font-size(32, 42);
  }
  h2 {
    @include adjustable-font-size(27, 35);
  }
  h3 {
    @include adjustable-font-size(22, 26);
  }
  h4 {
    @include adjustable-font-size(20, 23);
  }
  h5 {
    @include adjustable-font-size(18, 19);
  }
}

@media (min-width: #{$max_width}px) {
  :root {
    font-size: pxToRem($max_text_font_size);
  }
  h1 {
    font-size: pxToRem(42); /* 2.488rem * 16px = 39.808px, rounded up to 40px */
  }
  h2 {
    font-size: pxToRem(
      35
    ); /* 2.074rem * 16px = 33.184px, rounded down to 33px */
  }
  h3 {
    font-size: pxToRem(
      26
    ); /* 1.728rem * 16px = 27.648px, rounded down to 28px */
  }
  h4 {
    font-size: pxToRem(23); /* 1.44rem * 16px = 23.04px, rounded down to 23px */
  }
  h5 {
    font-size: pxToRem(19); /* 1.2rem * 16px = 19.2px, rounded down to 19px */
  }
}
