@use "sass:math";
@import "_variables";
@import "_functions";
@import "_mixins";
@import "_typography";
@import "_global";
@import "_navigation";
@import "_buttons";
@import "_accordion";
@import "_footer";

.header__bg,
.section__bg {
  position: absolute;
  width: 100%;
  height: 100%;
  background: var(--section-bg);
  overflow: hidden;
}

header {
  position: relative;

  .header__hero-waves {
    .fill-color {
      fill: $white-color;
      fill-opacity: 1;
    }
    @include display($display: flex);
    position: absolute;
    min-height: 50px;
    max-height: auto;
    width: 100%;
    bottom: -1%;
    right: 0;
    z-index: 2;
    // transform: rotate(-4deg);
  }

  .header__hero-container {
    position: relative;

    @include display($display: flex, $direction: column, $gap: 2.5rem);

    .header__hero-content {
      position: relative;
      height: 100%;
      max-width: 100%;

      &.header__hero-one {
        @include display($display: flex, $direction: column, $gap: 0.6rem);

        z-index: 3;

        .hero__btn__group {
          margin-top: 0.6rem;
        }
      }

      &.header__hero-two {
        #circle__element,
        #square-boxes__element {
          position: absolute;
          aspect-ratio: 1/1;
          z-index: 0;
        }
        #circle__element {
          .cls-1 {
            fill: $secondary-color-2;
          }
          min-height: fit-content;
          width: 80%;
          top: 50%;
          right: 50%;
          transform: translate(55%, -50%);
        }
        #square-boxes__element {
          .cls-1 {
            fill: darken($primary-color-2, 25);
          }
          min-height: fit-content;
          width: 40%;
          top: 48%;
          left: 40%;
          transform: translate(-80%, -80%);
        }
        .image__wrapper {
          position: relative;
          aspect-ratio: 1 / 1;
          z-index: 1;
        }
      }
    }
  }
}

.about .about__container {
  .about__col-content {
    @include display(
      $display: flex,
      $direction: column,
      $align-items: center,
      $justify-content: space-between,
      $gap: 0.4rem
    );
    background: lighten($primary-color, 20);
    box-shadow: 0px 37px 100px -50px rgba(0, 0, 0, 0.11);
    padding: 2rem 20px;
    border-radius: 12px;

    &.about__col-secure {
      background: lighten($primary-color-2, 32);
    }

    .icon svg {
      width: 120px;
      aspect-ratio: 1/1;

      &#specialist-icon {
        .st0 {
          fill: #fcd2b4;
        }
        .st1 {
          fill: darken($primary-color-2, 10);
        }
        .st2 {
          fill: darken($primary-color, 5);
        }
        .st3 {
          fill: darken($primary-color-2, 25);
        }
      }
      &#secure-icon {
        .cls-1 {
          fill: #e7e7e7;
        }
        .cls-2 {
          fill: #ced0d0;
        }
        .cls-3 {
          fill: #426572;
        }
        .cls-4,
        .cls-8 {
          fill: #fff;
        }
        .cls-5 {
          fill: none;
          stroke: #fff;
          stroke-miterlimit: 10;
          stroke-width: 2px;
        }
        .cls-6 {
          fill: $primary-color-2;
        }
        .cls-7 {
          fill: lighten($primary-color-2, 15);
        }
        .cls-8 {
          font-size: 155.97px;
          font-family: Dosis-ExtraBold, Dosis;
          font-weight: 700;
        }
      }
      &#customers-icon {
        .cls-1 {
          fill: #e9faff;
        }

        .cls-2 {
          fill: #e3bab1;
        }

        .cls-3 {
          fill: #ffe5e1;
        }

        .cls-4 {
          fill: #fff;
        }

        .cls-5 {
          fill: #e8f0fc;
        }

        .cls-12,
        .cls-6 {
          fill: none;
          stroke: #556193;
          stroke-width: 2px;
        }

        .cls-6 {
          stroke-miterlimit: 10;
        }

        .cls-7 {
          fill: $primary-color-2;
        }

        .cls-8 {
          fill: darken($primary-color-2, 20);
        }

        .cls-9 {
          fill: $primary-color-3;
        }

        .cls-10 {
          fill: #ffd9d2;
        }

        .cls-11 {
          fill: #556193;
        }

        .cls-12 {
          stroke-linejoin: round;
        }

        .cls-13 {
          fill: #ff859e;
        }

        .cls-14 {
          fill: #f97594;
        }

        .cls-15 {
          fill: #ffd0ca;
        }

        .cls-16 {
          fill: #acbaea;
        }

        .cls-17 {
          fill: #ffcba4;
        }
      }
      &#chat-icon {
        .st0 {
          fill: rgba($color: $primary-color-2, $alpha: 0.8);
        }
        .st1 {
          // fill: darken($primary-color-2, 10);
          fill: darken($primary-color-2, 20);
        }
        .st2 {
          fill: #ffffff;
        }
      }
    }

    .content {
      text-align: center;
    }
  }
}

.onlinechat .onlinechat__container {
  @include display($gap: 2.5rem);

  .onlinechat__col-content {
    @include display($display: flex, $direction: column, $gap: 0.5rem);
    &.onlinechat__col-one {
      @include display($align-items: center, $justify-content: center);

      .image__wrapper {
        width: 80%;
        aspect-ratio: 1/1;
        z-index: 1;
        img {
          border-radius: 100%;
        }
      }
    }
  }
}

.services {
  background: lighten($primary-color, 20);
}
.services .services__container {
  grid-template-columns: repeat(2, 1fr);
  @include display($col-gap: 0.6rem);

  .services__col-content {
    @include display(
      $display: flex,
      $direction: column,
      $align-items: center,
      $justify-content: space-evenly,
      $gap: 0.4rem
    );
    background: $white-color;
    // background: lighten($primary-color, 20);
    padding: 1rem 10px;
    border-radius: 12px;
    box-shadow: 0px 37px 100px -50px rgba(0, 0, 0, 0.11);

    h3.title {
      font-size: 1.2rem;
    }

    .icon svg {
      height: 60px;
      aspect-ratio: 1/1;

      &#specialist-icon {
        .st0 {
          fill: #fcd2b4;
        }
        .st1 {
          fill: darken($primary-color-2, 10);
        }
        .st2 {
          fill: darken($primary-color, 5);
        }
        .st3 {
          fill: darken($primary-color-2, 25);
        }
      }
      &#secure-icon {
        .cls-1 {
          fill: #e7e7e7;
        }
        .cls-2 {
          fill: #ced0d0;
        }
        .cls-3 {
          fill: #426572;
        }
        .cls-4,
        .cls-8 {
          fill: #fff;
        }
        .cls-5 {
          fill: none;
          stroke: #fff;
          stroke-miterlimit: 10;
          stroke-width: 2px;
        }
        .cls-6 {
          fill: $primary-color-2;
        }
        .cls-7 {
          fill: lighten($primary-color-2, 15);
        }
        .cls-8 {
          font-size: 155.97px;
          font-family: Dosis-ExtraBold, Dosis;
          font-weight: 700;
        }
      }
      &#customers-icon {
        .cls-1 {
          fill: #e9faff;
        }

        .cls-2 {
          fill: #e3bab1;
        }

        .cls-3 {
          fill: #ffe5e1;
        }

        .cls-4 {
          fill: #fff;
        }

        .cls-5 {
          fill: #e8f0fc;
        }

        .cls-12,
        .cls-6 {
          fill: none;
          stroke: #556193;
          stroke-width: 2px;
        }

        .cls-6 {
          stroke-miterlimit: 10;
        }

        .cls-7 {
          fill: $primary-color-2;
        }

        .cls-8 {
          fill: darken($primary-color-2, 20);
        }

        .cls-9 {
          fill: $primary-color-3;
        }

        .cls-10 {
          fill: #ffd9d2;
        }

        .cls-11 {
          fill: #556193;
        }

        .cls-12 {
          stroke-linejoin: round;
        }

        .cls-13 {
          fill: #ff859e;
        }

        .cls-14 {
          fill: #f97594;
        }

        .cls-15 {
          fill: #ffd0ca;
        }

        .cls-16 {
          fill: #acbaea;
        }

        .cls-17 {
          fill: #ffcba4;
        }
      }
      &#chat-icon {
        .st0 {
          fill: rgba($color: $primary-color-2, $alpha: 0.8);
        }
        .st1 {
          // fill: darken($primary-color-2, 10);
          fill: darken($primary-color-2, 20);
        }
        .st2 {
          fill: #ffffff;
        }
      }
    }
  }
}

.faq .faq__container {
  @include display($direction: column-reverse, $gap: 2.5rem);
  .faq__col-content {
    @include display($display: flex, $direction: column, $gap: 4rem);
    &.faq__col-two {
      @include display($align-items: center, $justify-content: center);

      .image__wrapper {
        width: 80%;
        aspect-ratio: 1/1;
        z-index: 1;
        img {
          border-radius: 100%;
        }
      }
    }
  }
}

@media screen and (min-width: #{$breakpoint-md}px) {
  header .header__hero-container {
    @include display($direction: row, $align-items: end);
    .header__hero-one {
      flex: 1.5 0;
      padding: 0 0 15% 0;
    }
    .header__hero-two {
      flex: 1 0;
    }
  }
  .about .about__container {
    @include display($col-gap: 0.6rem);
    grid-template-columns: repeat(2, 1fr);
  }
  .onlinechat .onlinechat__container {
    @include display($gap: 3.5rem);
  }
  .services .services__container {
    grid-template-columns: repeat(4, 1fr);
  }
  .faq .faq__container {
    @include display($gap: 3.5rem);
  }
}

@media screen and (min-width: #{$breakpoint-lg}px) {
  .onlinechat .onlinechat__container {
    @include display(
      $direction: row,
      $align-items: center,
      $gap: 2rem,
      $normalize: "true"
    );
  }

  .services {
    .flex {
      max-width: 60%;
    }
    .services__container {
      @include display($col-gap: 1.5rem);
    }
  }

  .faq .faq__container {
    @include display(
      $direction: row,
      $align-items: center,
      $gap: 2rem,
      $normalize: "true"
    );
  }
}

@media screen and (min-width: #{$breakpoint-xl}px) {
  header .header__hero-container {
    @include display($align-items: center);
    .header__hero-one {
      flex: 1 0;
      margin: -15% 0 0 0;
      padding: 0;
    }
    .header__hero-two {
      flex: 1 0;
    }
  }

  .about .about__container {
    @include display($col-gap: 1.5rem);
    grid-template-columns: repeat(4, 1fr);
  }
  .onlinechat .onlinechat__container {
    // @include display($normalize: "true");
  }

  .services .services__container {
    @include display($col-gap: 3rem);
    // max-width: 80%;
    .services__col-content {
      padding: 2rem 20px;
    }
  }
  .faq .faq__container {
    // @include display($normalize: "true");
  }
}

// .about .about__container {
//   // grid-template-columns: repeat(1, 1fr);

//   @include display(
//     $display: flex,
//     $direction: column-reverse,
//     $justify-content: space-between,
//     $align-items: center,
//     $gap: 1.5rem,
//     $normalize: "true"
//   );
//   .about__image-container {
//     @include display(
//       $display: flex,
//       $justify-content: center,
//       $align-items: center
//     );
//     .about__image {
//       max-height: 400px;
//       aspect-ratio: 3/2;
//     }
//   }

//   @media screen and (min-width: 768px) {
//     @include display($direction: row);
//     // grid-template-columns: repeat(2, 1fr);
//   }
// }
