/*=============== FOOTER ===============*/
footer {
  background: $footer-background_color;
  color: $footer-text_color;

  .nav__social {
    @include display($display: flex, $gap: 1.5rem, $justify-content: start);

    .nav__social-link {
      @include display(
        $display: inline-flex,
        $justify-content: center,
        $align-items: center
      );
      background: $nav-mobile-link_text_color;
      height: 38px;
      aspect-ratio: 1/1;
      border-radius: 50%;

      color: $black-color;
      font-size: $nav-mobile-link_font_size;
      transition: all 0.2s ease-in;

      &:hover {
        background: $nav-link_text_hover_color;
        color: $white-color;
      }
    }
  }

  .nav__branding {
    position: relative;
    overflow: hidden;
    height: 50px;
    aspect-ratio: $branding-aspect_ratio;
    margin-bottom: 2rem;

    .nav__logo {
      width: 100%;
      height: 100%;
    }
    img.nav__logo {
      position: absolute;
      object-fit: cover;
      object-position: center center;
      inset: 0;
    }
  }

  .footer__container {
    @include display($row-gap: 3rem);
    border-bottom: 1px solid $footer-border_color;
    padding-bottom: $section-padding;

    .footer__title {
      font-size: 1.3rem;
      margin-bottom: 1.5rem;
      color: $footer-title_text_color;
    }

    .footer__list,
    .footer__links {
      @include display($display: flex, $direction: column, $gap: 0.75rem);
    }

    .footer__link {
      &:hover {
        color: darken($footer-text_color, 20);
      }
    }

    .footer__social {
      @include display($display: flex, $gap: 1rem);
    }

    .footer__social-link {
      font-size: 1.25rem;
      &:hover {
        color: darken($footer-text_color, 20);
      }
    }
  }
  .footer__copy {
    display: block;
    padding: 3.5rem 0 1rem 0;
    text-align: center;
    font-size: pxToRem($min_text_font_size / 1.15);
  }
}

@media screen and (min-width: #{$breakpoint-sm}px) {
  .footer__container {
    grid-template-columns: repeat(2, 1fr);
  }
}
@media screen and (min-width: #{$breakpoint-md}px) {
  .footer__container {
    // grid-template-columns: repeat(4, max-content);
    grid-template-columns: 1.4fr 1fr 1fr;
    @include display($justify-content: space-between);
  }
  .footer__title {
    font-size: 1.24rem;
  }
}
