// sets relative font-sizing and alignment (in _sizing)
@mixin adjustable-font-size(
  $min_text_size,
  $max_text_size,
  $min_width: 400,
  $max_width: 1400
) {
  // Calculate the factor for fluid scaling (v)
  $v_factor: calc(
    100 * ($max_text_size - $min_text_size) / ($max_width - $min_width)
  );

  /* Calculate r */
  $r: calc(
    (($min_width * $max_text_size) - ($max_width * $min_text_size)) /
      ($min_width - $max_width)
  );

  // Use the factor (v) to define the fluid font size
  font-size: clamp(
    pxToRem($min_text_size),
    #{$v_factor}vw + pxToRem($r),
    pxToRem($max_text_size)
  );
}

@mixin display(
  $display: "",
  $direction: "",
  $justify-content: "",
  $align-items: "",
  $wrap: "",
  $gap: "",
  $row-gap: "",
  $col-gap: "",
  $normalize: "false"
) {
  @if $display != "" {
    display: $display;
  }
  @if $direction != "" {
    flex-direction: $direction;
  }
  @if $wrap != "" {
    flex-wrap: $wrap;
  }
  @if $justify-content != "" {
    justify-content: $justify-content;
  }
  @if $align-items != "" {
    align-items: $align-items;
  }
  @if $row-gap != "" {
    row-gap: $row-gap;
  }
  @if $col-gap != "" {
    column-gap: $col-gap;
  }
  @if $gap != "" {
    gap: $gap;
  }

  @if $normalize == "true" {
    > * {
      flex: 1 0;
      max-width: 100%;
    }
  }
}
